
.contact-form {
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 2em;
}

fieldset {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

fieldset > * {
    margin: 0.5em;
}