
#table-destination > table {
    border: 2px solid black;
    width: 100%;
    border: 2px solid black;
    border-radius: 1em;
    border-collapse: collapse;
}

#table-destination > table > thead > tr {
    background-color: #DAAB3A;
}

#table-destination > table > thead > tr > th {
    padding: 1em;
}

#table-destination > table > tbody > :nth-child(2n){
    background-color: #955149;
}

#table-destination > table > tbody > *{
    background-color: #9551498c;
}

#table-destination > table > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#table-destination > table img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}

#destination-blur{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
}

#destination-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5em;
    border-radius: 8px;
    width: 50%;
    z-index: 10;
}

#destination-dialog .form-group{
    padding: 0.75em;
    display: flex;
    flex-direction: column;
}

.form-group > * {
    padding: 0.5em;
}

#destination-dialog textarea {
    resize: none;
}

.admin-button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    margin: 1em;
}

.add-destination {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.add-destination svg {
    color: white;
}

.destination-widget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
    border-radius: 1em;
    margin: 1em;
    height: 23em;
    width: 30em;
    position: relative;
}

.destination-widget > .admin-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-widget > .discover {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    margin: 1em;
    border-radius: 1em;
    background-color: #DAAB3A;
    color: white;
    cursor: pointer;
}

.destination-widget .image-container {
    width: 9em;
    height: 9em;

    min-width: 9em;
    min-height: 9em;
}

.destination-widget .destination-image {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-size: cover;
}

.destination-widget:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
}

.destination-widget .destination-info {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.destination-widget p {
    word-break: break-word;
}

#table-destination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .destination-widget{
        width: 100%;
        height: 32em;
        flex-direction: column;
        flex-basis: 100%!important;
    }
}

@media only screen and (max-width: 768px) {
    .destination-widget{
        flex-basis: 75%;
        background-color: #955149;
        color: white;
    }
}