body {
    margin: 0;
}

header {
    background-color: #955149;
    color: white;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu > ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu button {
    width: 10em;
    height: 13em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 25%;

    border-radius: 0;
    border: 0;

    background: none;
}

.menu button svg {
    width: 3em;
    height: 3em;
    color: white;
    fill: white;
}

.menu button .svg-container{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 1em;
    aspect-ratio: 1/1;
}

.menu button span {
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}

.menu ul li:hover {
    background-color: #e5e7e6;
}

.menu ul li {
    position: relative;
}

.sous {
    padding: 0;
    width: 100%;
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;

    position: absolute;
}

li:hover > .sous {
    display: block;
}

.sous button {
    height: fit-content;
    padding: 0.5em;
}

.sous-cote {
    transform: translate(100%, 0);
    margin-top: -2em;
}


/*
* couleur du menu
*/
.index {
    background-color: #93441A;
}

.perso {
    background-color: #B67332;
}

.destinations {
    background-color: #DAAB3A;
}

.audio {
    background-color: #EEE6D8;
}

.video {
    background-color: #B67332;
}

.contact {
    background-color: #93441A;
}
/*
* fin couleur du menu
*/