

section {
    padding: 1em;
}

section > p {
    padding: 1em;
    background-color: antiquewhite;
}

body{
    position: relative;
}

#message {
    resize: none;
    width: auto;
}

#display-image{
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }