
body {
    font-family: cursive;
}

h1 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

h2 {
    font-style: oblique;
    font-size: 32px;
    text-underline-offset: 0.5em;
    text-decoration: underline;
}