

.voyage-virtuel-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.voyage-virtuel-video > div {
    background-color: aliceblue;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
    border-radius: 1em;
}