

.voyage-virtuel-audio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.voyage-virtuel-audio > figure {
    margin: 0;
    padding: 0;
    border: none;
    background-color: blanchedalmond;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}