
#table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#table-container > * {
    margin: 1em;
}

table {
    border: 2px solid black;
    padding: 1em;
}

#search-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#pays-search-button {
    position: relative;
}

#pays-search-button > .suggestion {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
