*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
::selection{
	background-color:#2d98da;
	color:#fff;
}
body{
	background-color:#0f1418;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	min-height:100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading{
	position:relative;
	width:500px;
	height:22px;
	background:rgba(255,255,255,.05);
	border-radius:25px;
	display:flex;
	align-items:center;
	border:5px solid #1b1f23;
}
.loading span{
	position:absolute;
	width:0%;
	height:100%;
	background-color:#0fbcf9;
	border-radius:25px;
}
.container > *{
	margin: 1em;
}
